---
import "../../public/css/style.css";

import MainLayout from "../layouts/MainLayout.astro";

const sTitle = "Title local";
---

<MainLayout title={sTitle}>
  <h1 class="alfa">ddadasd</h1>

  <ul>
    <li class="item">alfa</li>
    <li class="item">beta</li>
    <li class="item">gama</li>
    <li class="item">delta</li>
    <li class="item">epsilon</li>
  </ul>
</MainLayout>
